body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #1F2937;
    width: 90%;
    max-width: 500px;
    padding: 40px;
}

h1 {
    color: white;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

span {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    font-size: 20px;
    margin-bottom: 40px;
}

button {
    background: #10B981;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #059669;
}

hr {
    border: 1px solid #2F3E53;
    margin: 30px 0;
}

.passwords {
    display: flex;
    gap: 20px;
}

.password-box {
    background: #273549;
    color: #55F991;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    text-align: center;
    min-height: 25px;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

/* Optional: Tooltip for "Copied!" effect */
.password-box:active:after {
    content: "Copied!";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}